*.aar
*.jar
*.iml
.gradle
.idea
.kotlin
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
/app/libs/
/app/src/main/assets/exclave-core/*.dat
/service_account_credentials.json
jniLibs/
go.work
go.work.sum
release.keystore
release.keystore.original
*.jks
*.apk
