*.aar
*.jar
.gradle
.idea
.kotlin
.DS_Store
build/
local.properties
/app/libs/
/app/src/main/assets/exclave-core/*.dat
jniLibs/
go.work
go.work.sum
release.keystore
release.keystore.original
*.jks
*.apk
